<html>

<head>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <form id="testForm" action="/api/new" method="POST">
        <label for="sr_num">SR Number</label>
        <input type="text" name="sr_num">
        
        <label for="IC">Issue Clarification</label>
        <textarea name="IC"></textarea>
        <label for="IV">Issue Verification</label>
        <textarea name="IV"></textarea>

        <label for="CD">Cause Definition</label>
        <textarea name="CD"></textarea>

        <label for="CV">Cause Verification</label>
        <textarea name="CV"></textarea>

        <label for="PS">Possible Solutions</label>
        <textarea name="PS"></textarea>

        <label for="SAP">Solution Action Plan</label>
        <textarea name="SAP"></textarea>

        <label for="KC">Knowledge Creation</label>
        <textarea name="KC"></textarea>

        <button id="testFormSubmit" type="submit" value="Submit">
            TEST SUBMIT POST
        </button>
    </form>
    <button id="getTest">
        TEST GET
    </button>
    <button id="postTest">
        TEST POST
    </button>
    <script src="/public/js/script.js"></script>
</body>

</html>